.nav-container {
    display: flex;
    gap: 25px;
    background-color: #092d66;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.nav-container a {
    color: white;   
}

body {
    background-color: #75b6b3;
    color:#0d1e54;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

h1 {
    color:rgb(238, 230, 120);
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    margin: 15px;
    padding: 30px;
    padding-top: 60px;
}

h2 {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 26px;
}

section {
    background-color: #9fd1cf;
    padding: 26px;
    margin: 10px;
    border: 4px double #0d1e54;
    border-radius: 15px;
}

#About {
    text-align: center;
}

.experience-1a, .experience-2a, .experience-3a, .experience-4a, .experience-5a, .experience-6a, .experience-7a, .experience-8a {
    display: flex;
    align-items: flex-start;
}

.exp1a-left, .exp2a-left, .exp3a-left, .exp4a-left, .exp5a-left, .exp6a-left, .exp7a-left, .exp8a-left {
    display: flex;
    text-align: left;
}

.exp1a-right, .exp2a-right, .exp3a-right, .exp4a-right, .exp5a-right, .exp6a-right, .exp7a-right, .exp8a-right {
    display: flex;
    margin-left: auto;
    text-align: right;
}

.exp1b, .exp2b, .exp3b, .exp4b, .exp5b, .exp6b, .exp7b, .exp8b {
    display: flex;
    text-align: left;
}

#Skills p {
    display: flex;
    align-items: flex-start;
    text-align: left;
}


#Connect {
    text-align: center;
}

.connect-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin: 0;
}

.connect-links a {
  display: flex;
  align-items: center;  
}